<!DOCTYPE html>
<html lang="en">

  {% include post_head.html %}

  <!-- Preloader -->
<!-- <div id="preloader">
    <div id="status">&nbsp;</div>
</div> -->

<body>
<!--   <div class="sb-site-container">
<div class="boxed"> -->
  {% include post_header.html %}


  {{ content }}


  {% include post_footer.html %}

<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<script src="assets/js/vendors.js"></script>
<script src="assets/js/syntaxhighlighter/shCore.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="assets/js/DropdownHover.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/portfolio.js"></script>

</body>

</html>
