<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight">
                <!-- <img width="60" src="assets/img/favicon.png"><a href="index.html"> -->
                &nbsp; &nbsp;  TICARY <span>SOLUTIONS</span>
                
                </a>
            </h1>
            <p class="animated fadeInRight">Helping computers understand human language</p>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <!-- <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li> -->
                <li><a href="https://twitter.com/ticary" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/ticary" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://plus.google.com/+TicarySolutionsRedmond" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/company/10126133/" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->


<nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">
                
                TICARY <span>SOLUTIONS</span>

            </a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">Home </a><!-- <span class="label label-success pull-right">New</span> --></a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Resources</a>
                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li> <a href="services.html">Services</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Blog</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="blog/index.html">AI Blog</a></li>
                        <li><a href="https://medium.com/syntax-and-semantics">Syntax and Semantics</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">About</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="about_us.html">About us</a></li>
                        <li><a href="contact_us.html">Contact us</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                        <!-- <li><a href="faq.html">FAQ</a></li> -->
                    </ul>
                </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>