<header class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1>
                <a href="https://ticary.com/index.html">
                    <!-- TICARY<span>SOLUTIONS</span> -->
                    <img width="300" src="assets/img/logo.png" alt="Ticary Solutions">
                </a>
            </h1>
            <!-- <p class="animated fadeInRight">Helping computers understand human language</p> -->
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="https://twitter.com/ticary" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/10126133/" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->


<nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand hidden-lg hidden-md " href="https://ticary.com/index.html">
                
                <!-- TICARY <span>SOLUTIONS</span> -->

            </a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div> -->
        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://ticary.com/index.html">Home</a></li>
                <li><a href="https://ticary.com/portfolio.html">Portfolio</a></li>
                <li><a href="https://ticary.com/testimonials.html">Testimonials</a></li>
                <li><a href="https://ticary.com/blog/index.html">Blog</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">About</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="https://ticary.com/about_us.html">About us</a></li>
                        <li><a href="https://ticary.com/contact_us.html">Contact us</a></li>
                        <li><a href="https://ticary.com/timeline.html">Timeline</a></li>
                        <!-- <li><a href="faq.html">FAQ</a></li> -->
                    </ul>
                </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>