<div class="sb-slidebar sb-right sb-style-overlay">

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li><a href="https://ticary.com/index.html">Home</a></li>
        <li><a href="https://ticary.com/portfolio.html">Portfolio</a></li>
        <li><a href="https://ticary.com/about_us.html">About us</a></li>
        <li><a href="https://ticary.com/blog/index.html">AI Blog</a></li>
        <li><a href="https://ticary.com/contact_us.html">Contact us</a></li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="https://www.facebook.com/ticary" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/ticary" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/10126133/" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
</div> <!-- sb-slidebar sb-right -->
