<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="{{page.title}}">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="http://ticary.com/images/logo_small.png"> -->
    <meta property="og:url" content="{{site.url}}/{{page.permalink}}">
    <meta property="og:description" content="{{page.excerpt  | strip_html | truncatewords:50}}">

    <meta name="description" content="{{page.excerpt  | strip_html | truncatewords:50}}">
    <meta name="author" content="Rutu Mulkar-Mehta">


    <title>Ticary Solutions</title>
    <link rel="shortcut icon" href="https://ticary.com/assets/img/favicon.png" />

    <link rel="canonical" href="{{site.url}}/{{page.permalink}}" />

    <!-- CSS -->
    <link href="https://ticary.com/assets/css/preload.css" rel="stylesheet">
    <link href="https://ticary.com/assets/css/vendors.css" rel="stylesheet">
    <link href="https://ticary.com/assets/css/syntaxhighlighter/shCore.css" rel="stylesheet" >
    <link href="https://ticary.com/assets/css/style-t-blue.css" rel="stylesheet" title="default">
    <link href="https://ticary.com/assets/css/width-full.css" rel="stylesheet" title="default">


  <!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>
  <div class="sb-site-container">
	<div class="boxed">
		{% include header-blog.html %}

	

  {{ content }}


  {% include footer-blog.html %}

 </div> <!-- boxed -->
</div> <!-- sb-site -->
{% include sidebar-blog.html %}

<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<script src="https://ticary.com/assets/js/vendors.js"></script>
<script src="https://ticary.com/assets/js/syntaxhighlighter/shCore.js"></script>
<script src="https://ticary.com/assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="https://ticary.com/assets/js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="https://ticary.com/assets/js/DropdownHover.js"></script>
<script src="https://ticary.com/assets/js/app.js"></script>
<script src="https://ticary.com/assets/js/holder.js"></script>
<script src="https://ticary.com/assets/js/portfolio.js"></script>

</body>

</html>
