<!DOCTYPE html>
<html lang="en">

{% include head.html %}


  <!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>
  <div class="sb-site-container">
	<div class="boxed">
		{% include header-blog.html %}

	

		  {{ content }}


		  {% include footer-blog.html %}

   </div> <!-- boxed -->
 </div> <!-- sb-site -->


<script src="https://ticary.com/assets/js/vendors.js"></script>
<script src="https://ticary.com/assets/js/syntaxhighlighter/shCore.js"></script>
<script src="https://ticary.com/assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="https://ticary.com/assets/js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="https://ticary.com/assets/js/DropdownHover.js"></script>
<script src="https://ticary.com/assets/js/app.js"></script>
<script src="https://ticary.com/assets/js/holder.js"></script>
<script src="https://ticary.com/assets/js/portfolio.js"></script>

</body>

</html>
