---
layout: default
---

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Ticary A.I. Magazine Article</h1>

        <ol class="breadcrumb pull-right">
            <!-- <li><a href="#">T.A.I. Blog</a></li> -->
            <!-- <li class="active">Blog Item Full</li> -->
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<p><a href="../tai_magazine.html"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to TAI Magazine </a></p>
        	<br>
            <section class="post">
                <h2 class="page-header no-margin-top">{{ page.title }}</h2>
                  <div class="animated fadeInLeft">
                  <!-- <article class="post-content"> -->
				    {{ content }}
				  <!-- </article> -->
				</div>
            </section>

        </div>
    </div>
</div> <!-- container  -->


<script src="assets/js/vendors.js"></script>
<script src="assets/js/syntaxhighlighter/shCore.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="assets/js/DropdownHover.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/portfolio.js"></script>