---
layout: default_blog
---

<header class="main-header">
    <div class="container">
        <!-- <h1 class="page-title">A.I. Blog Post</h1> -->

        <ol class="breadcrumb pull-right">
            <!-- <li><a href="#">T.A.I. Blog</a></li> -->
            <!-- <li class="active">Blog Item Full</li> -->
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<!-- <p><a href="http://ticary.com/blog/index.html.html"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to AI Blog</a></p>
        	<br> -->

            <section class="post">

                <h2 class="page-header no-margin-top">{{ page.title }}</h2>
                  <div class="animated fadeInLeft">
                  <!-- <article class="post-content"> -->
				    {{ content }}
				  <!-- </article> -->
				</div>
            </section>
            <section>
                <div class="panel panel-default">
                    <div class="panel-body">
                Share this page: &nbsp;
                <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="social-icon-ar sm no-margin-bottom twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Facebook" class="social-icon-ar sm no-margin-bottom facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" class="social-icon-ar sm no-margin-bottom google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{page.excerpt | strip_html | truncatewords:50}}&" rel="nofollow" target="_blank" class="social-icon-ar sm no-margin-bottom linkedin"><i class="fa fa-linkedin"></i></a>
                
                    </div>
                

            </div>
            </section>
            <section>
                <div id="disqus_thread"></div>
                <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                
                var disqus_config = function () {
                this.page.url = {{ page.path}};  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = {{ page.path}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://ticary.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </section>
        </div>
    </div>
</div> <!-- container  -->


<script src="assets/js/vendors.js"></script>
<script src="assets/js/syntaxhighlighter/shCore.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushJScript.js"></script>
<script src="assets/js/DropdownHover.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/portfolio.js"></script>